<section class="newsletter-signup section" style="background-image: url('https://cdn3.bigcommerce.com/s-o1a5l961lv/product_images/uploaded_images/dining-living-bg.jpg?t=1503956145'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="container">
    <h3 class="section-title">{{lang 'newsletter.subscribe'}}</h3>
    <p>Sign up to receive promotions and updates from UptownRustic.com!</p>
    <form class="form subscription-form" action="{{urls.subscribe.action}}" method="post" data-validated-form>
      <input type="hidden" name="action" value="subscribe">
      <input type="hidden" name="nl_first_name" value="bc">
      <input type="hidden" name="check" value="1">
      <div class="form-field form-inline">
        <label class="sr-only" for="nl_email">{{lang 'newsletter.email_placeholder'}}</label>
        <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}" required>
      </div>
      <input class="button button-primary button-wide" type="submit" value="{{lang 'newsletter.submit'}}">
    </form>
  </div>
</section>
