{{#partial "page"}}
  <header class="cart-header page-header">
    {{> components/common/breadcrumbs breadcrumbs}}
    <h1 class="cart-title page-title">
      {{lang 'cart.title'}}
    </h1>
  </header>

  <section class="product-listing section">
    <div class="container">
      {{#if cart.items}}
        <div data-cart-content>
          {{> components/cart/content}}
        </div>

        <div class="cart-totals" data-cart-totals>
          {{> components/cart/totals}}
        </div>
      {{else}}
        <div class="cart-empty">
          <h2>{{lang 'cart.empty'}}</h2>
          <a href="{{urls.home}}" class="button">{{lang 'cart.keep_shopping'}}</a>
        </div>
      {{/if}}

      {{{snippet 'cart'}}}
    </div>
  </section>
{{/partial}}
{{> layout/base}}
