<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-page banner-page-left">
          <div class="banner-page-box">
            <figure><img src="https://cdn3.bigcommerce.com/s-o1a5l961lv/product_images/uploaded_images/01-banner.jpg?t=1503303767" alt="banner"/></figure>
            <div class="content-hover">
              <p>in the</p>
              <p class="banner-name">office room</p>
            </div>
            <div class="content-banner"><span>UR</span>
              <p class="banner-name bg-84deee">office room</p>
            </div>
            <div class="cost">$250</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-page banner-page-left">
          <div class="banner-page-box">
            <figure><img src="https://cdn3.bigcommerce.com/s-o1a5l961lv/product_images/uploaded_images/02-banner.jpg?t=1503303767" alt="banner"/></figure>
            <div class="content-hover">
              <p>in the</p>
              <p class="banner-name">living room</p>
            </div>
            <div class="content-banner"><span>UR</span>
              <p class="banner-name bg-9e7fe8">living room</p>
            </div>
            <div class="cost">$450</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-page banner-page-left">
          <div class="banner-page-box">
            <figure><img src="https://cdn3.bigcommerce.com/s-o1a5l961lv/product_images/uploaded_images/03-banner.jpg?t=1503303768" alt="banner"/></figure>
            <div class="content-hover">
              <p>in the</p>
              <p class="banner-name">bath room</p>
            </div>
            <div class="content-banner"><span>UR</span>
              <p class="banner-name bg-81d742">bath room</p>
            </div>
            <div class="cost">$250</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-page banner-page-left">
          <div class="banner-page-box">
            <figure><img src="https://cdn3.bigcommerce.com/s-o1a5l961lv/product_images/uploaded_images/04-banner.jpg?t=1503303768" alt="banner"/></figure>
            <div class="content-hover">
              <p>in the</p>
              <p class="banner-name">bed room</p>
            </div>
            <div class="content-banner"><span>UR</span>
              <p class="banner-name bg-ce78db">bed room</p>
            </div>
            <div class="cost">$450</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>