<div class="facet-filter-wrapper {{#unless start_collapsed}}is-open{{/unless}}" data-facet-filter-wrapper>
  <ul
    id="faceted-search-nav-list-{{#replace ' ' facet}}{{else}}{{facet}}{{/replace}}"
    class="facet-list-items {{#if selected}}is-open{{/if}} {{#unless start_collapsed}}is-open{{/unless}}"
    data-count="{{items_count}}" data-facet="{{facet}}">
    {{#each items}}
      <li class="facet-item" data-facet-item>
        <a href="{{url}}" rel="nofollow" data-faceted-search-facet>
          {{title}}
          {{#if ../show_product_counts}}<span data-facet-item-count>({{count}})</span>{{/if}}
        </a>
      </li>
    {{/each}}
  </ul>

  {{#if show_more toggle}}
    <a href="#faceted-search-nav-list-{{ facet }}" role="button"
      class="facet-toggle-more" href="#" rel="nofollow"
      data-show-more-facets>
      {{lang 'faceted_search.show_more'}}
      <svg class="icon icon-arrow-down"><use xlink:href="#icon-arrow-down" /></svg>
    </a>
  {{/if}}
</div>
