<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
  <head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    {{#block "head"}} {{/block}}
    <link href="{{ head.favicon }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="{{cdn '/assets/js/modernizr.js'}}"></script>

    {{{stylesheet '/assets/css/theme.css'}}}
    
    <!-- Custom Design -->
    	{{{stylesheet '/assets/css/bootstrap.css'}}}
    	{{{stylesheet '/assets/css/font-awesome.css'}}}
    	{{{stylesheet '/assets/css/animated.css'}}}
    	{{{stylesheet '/assets/css/owl-carousel.css'}}}
    	{{{stylesheet '/assets/css/mmenu.css'}}}
    	{{{stylesheet '/assets/css/pe-icon-7-stroke.css'}}}
    	{{{stylesheet '/assets/css/noJS.css'}}}
    	{{{stylesheet '/assets/css/prettyPhoto.css'}}}
    	
    	{{{stylesheet '/assets/css/main.css'}}}
    	{{{stylesheet '/assets/css/home.css'}}}
    
    
    {{ getFontsCollection }}

    {{{head.scripts}}}
    {{{head.rsslinks}}}

    {{inject 'themeImageSizes' theme_settings._images}}
    {{> components/global-injects}}

    {{{snippet 'html_head'}}}

    {{> core/structured-data/website}}
  </head>

  <body class="{{> components/common/body-classes}}">

    {{#if page_type '===' 'product'}}
      {{> components/common/facebook-like}}
    {{else if page_type '===' 'blog'}}
      {{> components/common/facebook-like}}
    {{else if page_type '===' 'blog_post'}}
      {{> components/common/facebook-like}}
    {{/if}}

    <div class="icons-svg-sprite">{{> components/common/icons/icon-defs}}</div>
    <div class="site-wrapper sn-site">
      {{{snippet 'header'}}}

      {{> components/header/header}}
      <div class="site-canvas">
        <div class="on-canvas">
          {{#contains page_type 'account'}}
            {{> components/common/breadcrumbs breadcrumbs}}
          {{/contains}}
          {{#contains page_type 'login'}}
            {{> components/common/breadcrumbs breadcrumbs}}
          {{/contains}}

          <main class="main-content">
            {{#block "page"}}{{/block}}
          </main>

          {{#if banners.bottom}}
            <div class="banners banners-bottom">
              {{#each banners.bottom}}
                <div class="banner rte">
                  {{{this}}}
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{#if settings.show_newsletter_box}}
            {{> components/common/newsletter-signup}}
          {{/if}}

          {{> components/footer/footer }}
        </div>

        {{> components/header/navigation-mobile}}
      </div> <!-- /site-canvas -->

      {{> components/mini-cart/mini-cart }}
      {{> components/common/search-panel}}
      <button class="button-top" data-scroll="#">
        <svg class="icon icon-arrow-up"><use xlink:href="#icon-arrow-up" /></svg>
      </button>

      {{> components/common/login-modal}}
    </div> <!-- /site-wrapper -->

    {{> core/structured-data/breadcrumbs}}

    <script src="{{cdn '/assets/js/bundle.js'}}"></script>
    <script>
      window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
    </script>
    
    
	<!-- Custom Design -->
	    <script src="{{cdn '/assets/js/jquery-2.1.4.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/bootstrap.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/wow.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/owl.carousel.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/jquery.mmenu.all.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/jquery.countdown.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/jquery.appear.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/jquery.countTo.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/jquery.hoverdir.js'}}"></script>
	    <script src="{{cdn '/assets/js/modernizr.custom.97074.js'}}"></script>
	    <script src="{{cdn '/assets/js/isotope.pkgd.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/fit-columns.js'}}"></script>
	    <script src="{{cdn '/assets/js/isotope-docs.min.js'}}"></script>
	    <script src="{{cdn '/assets/js/mansory.js'}}"></script>
	    <script src="{{cdn '/assets/js/jquery.prettyPhoto.js'}}"></script>
	    <script src="{{cdn '/assets/js/main.min.js'}}"></script>
	

    {{{footer.scripts}}}
    {{{snippet 'footer'}}}
  </body>
</html>
